@import "tailwindcss";

:root {
  --background: #ffffff;
}

/* Slider base */
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #22c55e 50%, #d1d5db 50%);
  outline: none;
}

/* Thumb (circle) */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 22px;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.30);
}

.custom-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #22c55e;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
